.screen2 {
    background-color: rgb(171, 193, 209);
    width: 360px;
    height: 650px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid mediumspringgreen;
    padding: 10px;
}

.title__chatting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:10px;
    position:relative;
    top:-95px;
}

.title__chatting a {
    text-decoration: none;
    color:black
}

.title__chatting h2 {
    margin-left:43px;
}

.today{
    background-color: rgb(146, 164, 178);
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    text-align: center;
    position:relative;
    left: 95px;
    font-size:10px;
    color: rgba(235, 229, 229, 0.5);
    position:relative;
    top:-170px;
}

.first-chatting2 {
    display: flex;
    justify-content: flex-start;
    position:relative;
    top: -200px;
}

.first-chatting2 img {
    width: 35px;
    height: 35px;
    border-radius: 13px;
}

.first-chatting__inner {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#hello {
    background-color: white;
    color:black;
    border-radius: 0px 25px 25px 25px;
    padding: 7px;
    position:relative;
    top:7px;
}

.first-chatting__inner > span {
    opacity: 0.5;
    border-radius: none;
    background-color: none;
}

.hello-time {
    opacity: 0.5;
    font-size:small;
    position: absolute;
    top:40px;
    left:100px;
}

.second-chatting2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:-220px;
}

.second-chatting2 div:nth-child(2) {
    background-color: rgb(254, 229, 1);
    color:black;
    border-radius: 25px 0px 25px 25px;
    padding: 8px;
}

.hello-time2 {
    opacity: 0.5;
    font-size:small;
    position:relative;
    top:21px;
    right:2px;
}

.chatting-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:13px;
    margin: -10px -10px;
}

.chatting-input input {
    width :230px;
    border-radius: 25px;
    border: 1px solid rgba(28, 27, 19, 0.5);
}

.chatting-input i {
    opacity: 0.5;
}

.push {
    opacity: 1;
    border-radius: 25px;
    background-color: mediumspringgreen;
}

.chatting-input input:focus {
    outline: none;
    border-bottom: 2px solid rgb(68, 250, 174, 1);
}

@keyframes moving-letters {
    0%{transform: scale(1)}
    50%{transform: scale(1.5,1)}
    100%{transform: scale(1)}
}

.chatting-input input[placeholder=" you can write down here!"] {
    animation: moving-letters 3s ease-in-out 2;
}








