
/* status-bar */

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 3px;
}

.status-bar div:first-child {
    display: flex;
}

.status-bar > div i {
 margin-left:5px;
}
    

.status-bar__last-part i {
    margin-left: 4px;
}

.status-bar__last-part span {
    font-size:15px;
    margin-left:6px;
}

